.nav {
  position: relative;
  background: $black;

  &__brand {
    position: absolute;
    top: 9.5px;
    left: 1rem;
  }

  &__logo {
    width: 48px;
    height: 48px;
  }

  &__container {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    background: $black;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    a {
      display: block;
      text-align: left;
      padding: 0.8em;
      font-weight: $bold;
      font-size: $medium;
      text-decoration: none;
      color: $white;

      &:hover {
        color: $tangerine;
      }
    }
  }

  &__collapsible {
    text-align: right;
    label {
      display: block;
      padding: 1.2rem 2.4rem;
      font-size: 1.3rem;
    }

    i {
      color: $white;
    }

    i:hover {
      color: $tangerine;
    }
  }
}

#menu {
  display: none;
}

input:checked ~ .nav__container {
  max-height: 100%;
}

@media only screen and (min-width: 576px) {
  .nav__collapsible {
    label {
      display: none;
    }
  }

  .nav__container {
    max-height: 100%;
    padding: 0.6rem 1.8rem;
    overflow: visible;
  }

  .nav__list {
    display: flex;
    justify-content: flex-end;
  }
}
